<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" >
    
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>City Power &amp; Light</title>

    <!-- CSS -->
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>

</head>

<body>
	<div th:include="appinsights"></div>
    <div th:include="topnav::topnav"></div> 
    <div class="container">
    
        <h1>User Profile</h1>
    
        <table class="table table-striped table-bordered">
            <tbody>       
                <tr>
                    <th>id</th>
                    <td th:text="${userProfileBean.ObjectId}"></td>
                </tr>
                <tr>
                    <th>businessPhones</th>
                    <td th:text="${userProfileBean.telephoneNumber}"></td>
                </tr>
                <tr>
                    <th>displayName</th>
                    <td th:text="${userProfileBean.displayName}"></td>
                </tr>
                <tr>
                    <th>givenName</th>
                    <td th:text="${userProfileBean.givenName}"></td>
                </tr>
                <tr>
                    <th>jobTitle</th>
                    <td th:text="${userProfileBean.jobTitle}"></td>
                </tr>
                <tr>
                    <th>mail</th>
                    <td th:text="${userProfileBean.mail}"></td>
                </tr>
                <tr>
                    <th>mobilePhone</th>
                    <td th:text="${userProfileBean.mobile}"></td>
                </tr>
                <tr>
                    <th>officeLocation</th>
                    <td th:text="${userProfileBean.physicalDeliveryOfficeName}"></td>
                </tr>
                <tr>
                    <th>preferredLanguage</th>
                    <td th:text="${userProfileBean.preferredLanguage}"></td>
                </tr>
                <tr>
                    <th>surname</th>
                    <td th:text="${userProfileBean.surname}"></td>
                </tr>
                <tr>
                    <th>userPrincipalName</th>
                    <td th:text="${userProfileBean.userPrincipalName}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- JavaScript -->
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.js"></script>	
</body>
</html>    