@{
    ViewBag.Title = "Report an Outage";
}

<div class="container">

    <h1>@ViewBag.Title</h1>

    <p>Welcome to the CP&amp;L outage reporting tool. From here you can view all reported outages via the dashboard screen, or report a new outage. Our technicians will address outages as soon as possible.</p>

    <div class="row">

        <form>

            <!-- Left Column -->
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" rows="3" id="description"></textarea>
                </div>

                <div class="form-group">
                    <label for="addressStreet">Street</label>
                    <input type="text" class="form-control" id="addressStreet" placeholder="255 W. Elm Street">
                </div>

                <div class="form-group">
                    <label for="addressCity">City</label>
                    <input type="text" class="form-control" id="addressCity" placeholder="Springfield">
                </div>

                <div class="row">

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="addressState">State</label>
                            <input type="text" class="form-control" id="addressState" placeholder="TX">
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="addressZip">Zip</label>
                            <input type="number" class="form-control" id="addressZip" placeholder="90210">
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Jane">
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Doe">
                </div>

                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control" id="phone" placeholder="+1 (417) 444-4444">
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Emergency
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn btn-danger">Cancel</button>

            </div>

            <!-- Right Column -->
            <div class="col-sm-6">

                <div class="form-group well well-lg">
                    <label for="image">Image of the Outage</label>
                    <input type="file" class="form-control" id="image">
                </div>

            </div>

        </form>

    </div>

</div>