<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="container">

	<h1>Details</h1>
	<div>
		<h4>Incident-<span th:text="${incidentBean.Id}"></span></h4>
		<hr />
		<dl class="dl-horizontal">
			<dt th:text="'Incident-' + ${incidentBean.Id}" />
		    <dt th:text="'Description: ' + ${incidentBean.Description}" />
		    <dt th:text="'Street: ' + ${incidentBean.Street}" />
		    <dt th:text="'city: ' + ${incidentBean.City}" />
		    <dt th:text="'state: ' + ${incidentBean.State}" />
		    <dt th:text="'zip: ' + ${incidentBean.ZipCode}" />
		    <dt th:text="'firstName: ' + ${incidentBean.FirstName}" />
		    <dt th:text="'lastName: ' + ${incidentBean.LastName}" />
		    <dt th:text="'phone: ' + ${incidentBean.PhoneNumber}" />
		    <dt th:text="'OutageType: ' + ${incidentBean.OutageType}" />
		    <dt th:text="'IsEmergency: ' + ${incidentBean.IsEmergency}" />
		    <dt th:text="'Resolved: ' + ${incidentBean.Resolved}" />
		    <a href="/new">Submit another outage</a>
	    </dl>
    </div>
</div>    
</body>
</html>