extends layout

block content

    .container

        h1 #{title}

        .row
            .col-sm-4
                .panel.panel-default
                    .panel-heading Incident 12345
                        i.glyphicon.glyphicon-flash.pull-right
                
                    table.table
                        tr
                            th Address
                            td 123 Main St.
                        tr
                            th Contact
                            td
                                a(href='tel:5555555555') Jane Doe
                        tr
                            th Reported
                            td 01/01/2016

            .col-sm-4
                .panel.panel-default
                    .panel-heading Incident 12345
                        i.glyphicon.glyphicon-flash.pull-right
                
                    table.table
                        tr
                            th Address
                            td 123 Main St.
                        tr
                            th Contact
                            td
                                a(href='tel:5555555555') Jane Doe
                        tr
                            th Reported
                            td 01/01/2016

            .col-sm-4
                .panel.panel-default
                    .panel-heading Incident 12345
                        i.glyphicon.glyphicon-flash.pull-right
                
                    table.table
                        tr
                            th Address
                            td 123 Main St.
                        tr
                            th Contact
                            td
                                a(href='tel:5555555555') Jane Doe
                        tr
                            th Reported
                            td 01/01/2016
            
          

            