extends layout

block content

    .container

        h1 #{title}

        .row
            .col-sm-3
                .panel.panel-default
                    .panel-heading Outage 153
                    table.table
                        tr
                            th Address
                            td 200 W. Elm St.
                        tr
                            th Contact
                            td
                                a(href='tel:14174444444') Jane Doe
                        tr
                            th Reported
                            td 9/8/2016

            .col-sm-3
                .panel.panel-default
                    .panel-heading Outage 153
                    table.table
                        tr
                            th Address
                            td 200 W. Elm St.
                        tr
                            th Contact
                            td
                                a(href='tel:14174444444') Jane Doe
                        tr
                            th Reported
                            td 9/8/2016

            .col-sm-3
                .panel.panel-default
                    .panel-heading Outage 153
                    table.table
                        tr
                            th Address
                            td 200 W. Elm St.
                        tr
                            th Contact
                            td
                                a(href='tel:14174444444') Jane Doe
                        tr
                            th Reported
                            td 9/8/2016

            .col-sm-3
                .panel.panel-default
                    .panel-heading Outage 153
                    table.table
                        tr
                            th Address
                            td 200 W. Elm St.
                        tr
                            th Contact
                            td
                                a(href='tel:14174444444') Jane Doe
                        tr
                            th Reported
                            td 9/8/2016

